
:root {
  --main-bg-color: #a5a4a6;  
  --secondary-bg-color: whitesmoke;
  --highlight-color: #382f4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: var(--main-bg-color);  
  color: var(--secondary-bg-color);
}

body {
  min-height: 100vh;
  width: 100vw;
  font-size: 1.5rem;
  padding: 5% 10%;
}



article {
  width: 100%;
  margin: 0.5em 0;
  border: 0.1rem black;
  border-radius: 0.25rem;
  padding: 2rem;
  background-color: var(--secondary-bg-color);
  color: #2d2d2d;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}


.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--highlight-color);
  color: var(--secondary-bg-color);
  margin: 0 0;
  padding: 0.5rem 10%;
}



.todo-form {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todo-form div {
  width: 100%;
}

.new-todo > input {
  width: 100%;
  line-height: 3rem;
  /* margin: 0; */
  padding: 0;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.todo-form button {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-left: 1.2rem;
  border-radius: 0.2rem;
  border: 0.1rem solid black;
  
  color: whitesmoke;
  background-color: rgb(50, 186, 50);
  
}

.todo-item {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.todo-item input {
  padding-top: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 2rem;
}

.todo-item > button {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(228, 130, 146);
  border: none;
  padding-top: 0.15rem;
}